<div class="page-header">
    <h3>Registrarse</h3>
</div>

<div class="container py-5">
   <form id = "Forma">
      <div class="mb-3">
        <label for="InputNombreUsuario" class="form-label">Nombres</label>
        <input type="NombreUsuario" class="form-control" id="InputNombreUsuario" aria-describedby="NombreHelp" placeholder="Nombres">
        <div id="NombreHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="InputApellidosUsuario" class="form-label">Apellidos</label>
        <input type="ApellidoUsuario" class="form-control" id="InputApellidoUsuario" aria-describedby="ApellidoHelp" placeholder="Apellidos">
        <div id="ApellidoHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="InputRutUsuario" class="form-label">Rut</label>
        <input type="RutUsuario" class="form-control" id="InputRutUsuario" aria-describedby="RutHelp" placeholder="Sin puntos ni guión Ej: 198765432">
        <div id="RutHelp" class=""><!--Ej: 12345678-9--></div>
      </div>
      <div class="mb-3">
        <label for="InputCorreoUsuario" class="form-label">Correo electrónico</label>
        <input type="correoUsuario" class="form-control" id="InputCorreoUsuario" aria-describedby="CorreoHelp" placeholder="ejemplo@correo.com">
        <div id="CorreoHelp" class="form-text"><!--ejemplo@correo.com--></div>
      </div>
      <div class="mb-3">
        <label for="InputTelefonoUsuario" class="form-label">Telefono</label>
        <input type="TelefonoUsuario" class="form-control" id="InputTelefonoUsuario" aria-describedby="TelefonoHelp" placeholder="+ 56 9 ...">
        <div id="TelefonoHelp" class="form-text"></div>
      </div>
      <p>
        <button type="submit" class="btn-primary">
          <a [routerLink]="['/funciones']" routerLink="router-link-active">Ingresar</a></button>
      </p>

    </form>
  </div>
  <script>
    $(document).ready(function() {
      $("#Forma").validate({
        rules: {
          InputNombreUsuario : {
            required: true,
            minlength: 3
          },
          InputApellidosUsuario: {
            minlength: 3
          },
          InputRutUsuario: {
            required: true,
            minlength: 9
          },

          InputRutUsuario:{
          required : true,
          }
        }
      }
      )})

  </script>
