.container-head {
    width: 100%;
    height: 100px;
    background-color: #268da3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px;
    
    position:fixed;
}


