<div class="imagen">
    <img src="../img/medico.jpg">

    <!-- img src="https://www.infobae.com/new-resizer/kTpbPO_yF5zboXTkc2B5knfDTB4=/992x661/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/5KCVGAGSP5HFJA7KMALNP7ITS4.jpg" class="rounded mx-auto d-block" alt="Foto del Medico licenciado Jose Fuentes" -->

    <aside>
        <br>
        <h5>Licenciado en Universidad de Valparaiso</h5>
        <h1><b>Jose Fuentes</b> </h1>
        
        <h3>Medico especialista en medicina general</h3>
    </aside>
    <div class="reset"></div>
</div>

