<div class="container">
 
        <div class="content">
            <h2>Informacion Personal</h2>
            <br>
 
            <p>
                Nombre: Juan Manuel
            </p>
            <p>
                Apellido: Perez Martinez
            </p>
            <p>
                Correo: juan@mail.cl
            </p>
            <p>
                Fecha de nacimiento: 12/12/1982
            </p> 
            <p>
                Genero: hombre
            </p>
            <p>
                Direccion: avenida 123
            </p>
            <p>
                Ciudad: Valparaiso
            </p>
            <p>
                Nacionalidad: Chileno
            </p>            
        </div>
    </div>