<div class="container">
 
    <div class="content">
        <h2>Informacion Personal</h2> 
        <br>
        <p>
            Nombre: Juan Manuel
        </p>
        <p>
            Apellido: Perez Martinez
        </p>
        <p>
            Correo: juan@mail.cl
        </p>
        <p>
            Fecha de nacimiento: 12/12/1982
        </p> 
        <p>
            Genero: hombre
        </p>
        <p>
            Direccion: avenida 123
        </p>
        <p>
            Ciudad: Valparaiso
        </p>
        <p>
            Nacionalidad: Chileno
        </p>            
    </div>
</div>

<div class="botones">
    <p>
        <button type="button" class="Agendar">
        <a [routerLink]="['/cita']" routerLink="router-link-active">Agendar cita</a>
        </button>
    </p>

    <p>
        <button type="button" class="Ver">
        <a [routerLink]="['/calendario']" routerLink="router-link-active">Ver citas</a>
        </button>
    </p>

    <p>
        <button type="button" class="Cancelar">
        <a [routerLink]="['/']" routerLink="router-link-active">Cancelar citas</a>
        </button>
     </p>

    <p>
        <button type="button" class="Detalles">
        <a [routerLink]="['/citas-pendientes']" routerLink="router-link-active">Detalles consulta</a>
        </button>
    </p>


</div>