<div class="cover">
  
<div class="page-header">
  <h3>Iniciar Sesion</h3>
</div>

<form>
<div class="mb-3">
    <label for="InputRutUsuario" class="form-label">Rut</label>
    <input type="RutUsuario" class="form-control" id="InputRutUsuario" aria-describedby="RutHelp" placeholder="Sin puntos ni guión Ej: 198765432">
    <div id="RutHelp" class="form-text"><!--Ej: 12345678-9--></div>
  </div>

  <div class="mb-3">
    <label for="InputContrasenaUsuario" class="form-label">Contraseña</label>
    <input type="ContrasenaUsuario" class="form-control" id="InputContrasenaUsuario" aria-describedby="ContrasenaHelp">
    <div id="ContrasenaHelp" class="form-text"></div>
  </div>

  <p>
    <button type="submit" class="btn-primary">
      <a [routerLink]="['/funciones']" routerLink="router-link-active">Ingresar</a></button>
  </p>
</form>
</div>