<div class="cover">

    <div class="page-header">
        <h3>Iniciar Sesion</h3>
    </div>
    
    <form (ngSubmit)="ValidarDatos()" novalidate>
    
        <div class="mb-3">
            <label for="nombre" class="form-label"> Rut</label>
            <input type="rut"  name="rut" placeholder="--Ej: 12345678-9--" class="form-control">
            <div id="RutHelp" class="form-text"><!--Ej: 12345678-9--></div>
            <div class="alert alert-danger" role="alert" *ngIf="nombre.hasError('required') && nombre.touched">El campo es obligatorio</div>
            <div class="alert alert-danger" role="alert" *ngIf="nombre.hasError('maxlength') && nombre.touched">El campo es obligatorio</div>
        </div>
    
      
        <div class="mb-3">
            <label for="password" class="form-label"> Contraseña </label>
            <input type="password"  name="password" placeholder="Ingrese contraseña" class="form-control">
            <div class="alert alert-danger" role="alert"  *ngIf="apellidos.hasError('required') && apellidos.touched">El campo es obligatorio</div>
            <div class="alert alert-danger" role="alert"  *ngIf="apellidos.hasError('maxlength') && apellidos.touched">El campo es obligatorio</div>    
        </div>
      
    
        <p>
            <button type="submit"  class="btn-btn-primary">Login</button>
        </p>
    </form>
    
</div>