section {
    width: 10%;
    height: 30%;
    margin: left;
    align-items: flex-start;
}
.A {
  text-decoration: none;
}
.Iniciar {
  margin: auto;
  position: absolute;
  width: 150px;
  height: 39px;
  right: 200px;
  top: 100px;
  background-color: #3C8190;
}
.Calendario {
  margin: auto;
  position: absolute;
  width: 150px;
  height: 39px;
  right: 200px;
  top: 150px;
  background-color: #3C8190;
}
.RegistrarPaciente {
  margin: auto;
  position: absolute;
  width: 150px;
  height: 39px;
  right: 200px;
  top: 200px;
  background-color: #3C8190;
}
.Reservar {
  margin: auto;
  position: absolute;
  width: 150px;
  height: 39px;
  right: 200px;
  top: 250px;
  background-color: #3C8190;
}
